<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tinycards - FlasCard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/image/logo_tiny.jpg" type="image/jpg">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <script src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <style>
        a {
            text-decoration: none !important;
        }
    </style>
    <script>
         $(document).ready(function() {

             $("img.lesson1").click(function(event) {
                 window.location.href = "1-1.html";
                 return false;
             });    

             $("img.lesson2").click(function(event) {
                 window.location.href = "2-1.html";
                 return false;
             });    

             $("img.lesson3").click(function(event) {
                 window.location.href = "3-1.html";
                 return false;
             });    

             $("img.lesson4").click(function(event) {
                 window.location.href = "4-1.html";
                 return false;
             });    

        });
    </script>
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-primary w-100">
    <a class="navbar-brand ml-md-5" href="/1">
        <img src="/image/tinycards.png" alt="logo" width="44" height="44">
        <span class="text-white font-weight-bold">TinyCards</span>
    </a>
    <% if (user.local.email ) { %>
        <p class="text-white font-weight-bold ml-md-auto text-right text-uppercase pt-3 mr-2 mr-md-5"><%= user.local.email %></p>
    <% } else if (user.twitter.token) { %>
        <p class="text-white font-weight-bold ml-md-auto text-right text-uppercase pt-3 mr-2 mr-md-5"><%= user.twitter.username %></p>
    <% } else if (user.google.token) { %>
        <p class="text-white font-weight-bold ml-md-auto text-right text-uppercase pt-3 mr-3 mr-md-5"><%= user.google.name %></p>
    <% } %>
    
    <a href="/logout" class="text-warning font-weight-bold mr-md-3">LogOut</a>
   
</nav>



<div class="container">
    <div class="row">
        <div class="col-12 col-md-12 wrapper mt-5">
            <div class="row text-center mb-5">
                <p class="h3 col-12">Learn with TinyCards right now !</p>
            </div>
            <div class="row">
                <div class="col-5 col-md-3 card1 text-center mb-5 mb-md-0 offset-1 offset-md-0">
                    <img width="144px" height="166px" src="/image/card/card1.png" alt="Football" class="rounded lesson1 pointer">
                    <div class="w-100"></div>
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">Football</span>
                </div>

                <div class="col-5 col-md-3 card2 text-center mb-5 mb-md-0">
                    <img width="144px" height="166px" src="/image/card/card2.png" alt="universe" class="rounded lesson2 pointer">
                    <div class="w-100"></div>
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">Universe</span>
                </div>

                <div class="col-5 col-md-3 card3 offset-1 offset-md-0 text-center">
                    <img width="144px" height="166px" src="/image/card/card3.png" alt="Classical music" class="rounded lesson3 pointer">
                    <div class="w-100"></div>
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">Classical Music</span>
                </div>

                <div class="col-5 col-md-3 card4 text-center mb-5 mb-md-0 text-center">
                    <img width="144px" height="166px" src="/image/card/atom.png" alt="Italy" class="rounded lesson4 pointer">
                    <div class="w-100"></div>
                    <span class="text-dark font-weight-bold mt-3 d-inline-block">Scientist</span>
                </div>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>